body {
    background-color:antiquewhite;
}

.parent_container {  
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px 0.1px;
    margin: 100px auto;
}

.buttons_container {
    width: 400px;
    display: flex;
    align-items: end;
}

.buttons_container button {
    width: 250px;
    height: 40px;
}

.forms_container {
    width: 400px;
    height: 500px;
    position: relative;
}

.form_hidden {
    visibility: hidden;
}

/* REGISTRATION FORM */

.registration_form_container {
    width: 400px;
    height: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration_form_sub_container {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registration_form_container input {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
}

.login_btn {
    color: blue;
    cursor: pointer;
}

.singUp_btn {
    color: blue;
    cursor: pointer;
}

.registration_form_hidden_element {
    display: none;
}

#registration_invalid_email, #registration_invalid_password, #registration_form_error {
    font-size: 13px;
    color: red;
    position: absolute;
}

#registration_invalid_email {
    top: 260px;
}

#registration_invalid_password {
    top: 335px;
}

#registration_form_error {
    top: 440px;
    font-size: 14px;
}

/* CONNECTION FORM */

.connection_form_container {
    width: 400px;
    height: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.connection_form_sub_container {
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.connection_form_container input {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
}


/* DASHBOARD PAGE */ 

.dashboard_user_info_section {
    width: 100%;
    margin-bottom: 50px;
}

.dashboard_user_sub_container {
    width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(251, 251, 251);

}

.dashboard_user_title {
    text-align: center;
}

.dashboard_user_info_container {
    width: 30%;
    height: 200px;
    padding: 20px;
    color: rgb(86, 86, 86);
}

.dashboard_user_info_item {
    display: flex;
    justify-content: space-between;
}

.dashboard_logout_container {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

#dashboard_logout_btn {
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.dashboard_squares_generator_section {
    display: flex;
    justify-content: center;
}

.dashboard_squares_sub_container {
    width: 60%;

}

.dashboard_squares_inputs_container {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(32, 178, 171, 0.463);
    margin-bottom: 20px;
    padding: 15px;
}

.dashboard_squares_inputs_container input {
    height: 25px;
    padding: 10px;
}

.dashboard_squares_input_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 75px;
}

.dashboard_squares_container {
    display: grid;
    gap: 5px;
    width: 100%;
    overflow-x: scroll;
}

.dashboard_square {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    border: 1px solid #000;
}

.dashboard_profil_pic_container {
    width: 200px;
    height: 200px;
    border: 1px solid gainsboro;
    background-image: url("./profil.png");
    background-repeat: no-repeat;
    background-size: cover;

}