body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:antiquewhite;
}

.parent_container {  
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px 0.1px;
}

.buttons_container {
    width: 400px;
    display: flex;
    align-items: end;
}

.buttons_container button {
    width: 250px;
    height: 40px;
}

.forms_container {
    width: 400px;
    height: 500px;
    position: relative;
}

.form_hidden {
    visibility: hidden;
}

/* REGISTRATION FORM */

.registration_form_container {
    width: 400px;
    height: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration_form_sub_container {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registration_form_container input {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
}

.login_btn {
    color: blue;
    cursor: pointer;
}

.singUp_btn {
    color: blue;
    cursor: pointer;
}

.registration_form_hidden_element {
    display: none;
}

#registration_invalid_email, #registration_invalid_password, #registration_form_error {
    font-size: 13px;
    color: red;
    position: absolute;
}

#registration_invalid_email {
    top: 260px;
}

#registration_invalid_password {
    top: 335px;
}

#registration_form_error {
    top: 440px;
    font-size: 14px;
}

/* CONNECTION FORM */

.connection_form_container {
    width: 400px;
    height: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.connection_form_sub_container {
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.connection_form_container input {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
}


/* DASHBOARD PAGE */
.dashboard_squares_sub_container {
    text-align: center;
}

.dashboard_squares_inputs_container {
    margin-bottom: 20px;
}

.dashboard_squares_inputs_container input {
    height: 40px;
    padding: 10px;
}

.dashboard_squares_container {
    display: grid;
    gap: 5px;
}

.dashboard_square {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    border: 1px solid #000;
}