body {
    margin-left: 100px;
    margin-right: 100px;
    box-sizing: border-box;
}

/* FORM LOGIN/REGISTER */ 

.section_container {  
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px 0.1px;
    margin: 100px auto;
}

.form_container {
    width: 400px;
    height: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_sub_container {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.singUP {
    height: 450px;
}

.singIn {
    height: 300px;
}

.form_sub_container input {
    height: 40px;
    padding: 10px;
}

.form input {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
}

.submit_btn {
    color: blue;
    cursor: pointer;
}

.form_invalid {
    color: red;
}

/* not found in index.html */
.singUp_btn {
    color: blue;
    cursor: pointer;
}

#toggle_btn {
    cursor: pointer;
    color: blue;
}


/* DASHBOARD PAGE */ 

.dashboard_section {
    width: 100%;
    margin-bottom: 50px;
}

.dashboard_sub_container {
    width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(251, 251, 251);
}

.dashboard_title {
    text-align: center;
}

.dashboard_user_info {
    width: 30%;
    height: 200px;
    padding: 20px;
    color: rgb(86, 86, 86);
}

.dashboard_info_item {
    display: flex;
    justify-content: space-between;
}

.dashboard_logout {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

#dashboard_btn {
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.dashboard_squares_section {
    display: flex;
    justify-content: center;
}

.dashboard_squares_container {
    width: 60%;
}

.dashboard_squares_inputs {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(32, 178, 171, 0.463);
    margin-bottom: 20px;
    padding: 15px;
}

.dashboard_squares_inputs input {
    height: 25px;
    padding: 10px;
}

.dashboard_squares_input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 75px;
}

.dashboard_squares_displayer {
    display: grid;
    gap: 5px;
    width: 100%;
    overflow-x: scroll;
}

.dashboard_square {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    border: 1px solid #000;
}

.dashboard_profil_pic {
    width: 200px;
    height: 200px;
    border: 1px solid gainsboro;
    background-image: url("../images/profil.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard_loader {
    text-align: center;
}

/* Loader styles */
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #333;
    z-index: 1000; /* Ensure the loader is above other content */
}


/* USERS PAGE */

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 150px;
}

.header_logo_nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 100px;
    height: 60px;
}

nav {
    width: 150px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li {
    list-style: none;
}

.header_title h1 {
    font-family: "Faster One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.header_title h1 span {
    color: #80BD01;
}

.header_setting {
    width: 230px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gainsboro;
}

/* INPUTS SECTION */
.user_inputs_section {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px ;
}

.user_inputs_section h1 {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.div_user {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.user_add_search input {
    height: 40px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.user_search {
    position: relative;
    width: 700px;
}

.bi-search {
    position: absolute;
    right: 35px;
    top: 9px;
    font-size: 1.5em;
    cursor: pointer;
}

.user_add_search input[type="text"] {
    width: 95%;
    padding-left: 10px;
    font-size: 1rem;

}

.user_add_search button {
    width: 500px;
    height: 40px;
    border: 1px solid black;
    background-color: #80bd01;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.user_add_search button:hover {
    background-color: #77a318;
}

/* USERS TABLE SECTION */

.user_table_section {
    background-color: ghostwhite;
    margin-bottom: 150px;
}

.user_table_section table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    margin: 0px auto;
}

.user_table_section table thead {
    margin: 0 auto;
}

.user_table_section table thead tr {
    background-color: gainsboro;
    text-align: left;
    height: 50px;
}

.user_table_section table thead tr th {
    padding-left: 90px;
}

.user_table_section table tbody tr td {
    padding-left: 90px;
    background-color: white;
    height: 50px;
}

.user_table_actions {
    display: flex;
    justify-content: space-around;
}

.user_table_actions div {
    width: 35%;
    display: flex;
    justify-content: space-between;

}

.bi-pencil-square {
    color: #80BD01;
    font-size: 1.2rem;
    cursor: pointer;
}

.bi-trash {
    color: rgb(203, 60, 60);
    font-size: 1.2rem;
    cursor: pointer;
}

/* Switch button unable disable user */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* USERS FORM SECTION */

.user_form_section {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333a6;
    z-index: 10;
}

.user_form_section form {
    position: relative;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 30px;
    padding-top: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.user_form_section form div {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100%;
    justify-content: space-between;
}

.user_form_section form div input {
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid rgb(152, 145, 145);
}

.user_form_section form div input[type="submit"] {
    color: white;
    font-weight: bold;
    background-color:#333;
    border: 1px solid black;
    cursor: pointer;
}

.user_form_section form div input[type="submit"]:hover {
    background-color: rgb(25, 25, 25);
}

.bi-x-circle-fill {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.bi-x-circle-fill:hover {
    color: #333;
}



/* HIDDE ELEMENTS */
.hidden {
    display: none;
}
