body {
    background-color:antiquewhite;
}

/* FORM LOGIN/REGISTER */ 

.section_container {  
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px 0.1px;
    margin: 100px auto;
}

.form_container {
    width: 400px;
    height: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_sub_container {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.singUP {
    height: 450px;
}

.singIn {
    height: 300px;
}

.form_sub_container input {
    height: 40px;
    padding: 10px;
}

.form input {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
}

.submit_btn {
    color: blue;
    cursor: pointer;
}

.form_invalid {
    color: red;
}

/* not found in index.html */
.singUp_btn {
    color: blue;
    cursor: pointer;
}

.hidden {
    display: none;
}

#toggle_btn {
    cursor: pointer;
    color: blue;
}


/* DASHBOARD PAGE */ 

.dashboard_section {
    width: 100%;
    margin-bottom: 50px;
}

.dashboard_sub_container {
    width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(251, 251, 251);
}

.dashboard_title {
    text-align: center;
}

.dashboard_user_info {
    width: 30%;
    height: 200px;
    padding: 20px;
    color: rgb(86, 86, 86);
}

.dashboard_info_item {
    display: flex;
    justify-content: space-between;
}

.dashboard_logout {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

#dashboard_btn {
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.dashboard_squares_section {
    display: flex;
    justify-content: center;
}

.dashboard_squares_container {
    width: 60%;
}

.dashboard_squares_inputs {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(32, 178, 171, 0.463);
    margin-bottom: 20px;
    padding: 15px;
}

.dashboard_squares_inputs input {
    height: 25px;
    padding: 10px;
}

.dashboard_squares_input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 75px;
}

.dashboard_squares_displayer {
    display: grid;
    gap: 5px;
    width: 100%;
    overflow-x: scroll;
}

.dashboard_square {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    border: 1px solid #000;
}

.dashboard_profil_pic {
    width: 200px;
    height: 200px;
    border: 1px solid gainsboro;
    background-image: url("../images/profil.png");
    background-repeat: no-repeat;
    background-size: cover;
}